<h3>admin側のコメント一覧</h3>

<table class="table table-striped table-hover">

  <thead class="thead-light">
    <tr>
      <th>店舗名</th>
      <th>コメント内容</th>
      <th>コメント者</th>
      <th>コメント日時</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= link_to comment.store.name, admin_store_path(comment.store), class:"text-body" %></td>
        <td><%= simple_format(comment.content) %></td>
        <td><%= link_to comment.user.name, admin_user_path(comment.user) %></td>
        <td><%= comment.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <%= paginate @comments %>
</div>