
<!--店舗検索のフォーム-->
<div class="mb-4">
  <%= form_with url: search_stores_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, placeholder: "店舗名またはキーワード" %>
    <%= f.submit "検索する" %>
  <% end %>
</div>

<!--店舗一覧-->
<%= render 'public/shared/store_list', stores: @stores %>

<!--ページネーションの表示-->
<div class="d-flex justify-content-center">
  <%= paginate @stores %>
</div>
