<h2>お店を新しく登録する</h2>

<%= render 'public/shared/error_messages', resource: @store %>

<%= form_with model: @store, local: true do |f| %>
  <div>
    <%= f.label :name, '店舗名' %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description, 'レビュー本文' %><br>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :score, '評価(1~5)' %><br>
    <%= f.select :score, options_for_select(1..5) %>
  </div>

  <div>
    <%= f.label :category_id, 'カテゴリ' %><br>
    <%= f.collection_select :category_id, @categories, :id, :name, prompt: '選択してください' %>
  </div>

  <div>
    <%= f.label :zip_code, '郵便番号' %><br>
    <%= f.text_field :zip_code %>
  </div>

  <div>
    <%= f.label :address, '住所' %><br>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.submit '登録する' %>
  </div>
<% end %>