<!--店舗（投稿）の詳細ページ-->

<!--エラーメッセージの表示-->
<% if @store.images.attached? %>
  <div class="row">
    <div class="col-md-12">
      <% @store.images.each do |image| %>
        <%= image_tag image.variant(resize_to_limit: [600, 400]), class: "img-fluid rounded" %>
      <% end %>
    </div>
  </div>
<% end %>

  <div class="row">
    <div class="col-md-12">
      <h4>店舗名：<%= @store.name %></h4>
      <p>カテゴリ：<%= @store.category.name %></p>

      <% @store.tags.each do |tag| %>
        <p>タグ：<%= tag.name %></p>
      <% end %>

      <p>評価：<div id="score"></div></p>
      <p>レビュー：<%= @store.description %></p>
      <p>郵便番号：<%= @store.zip_code %></p>
      <p>住所：<%= @store.address %></p>
      <p>投稿者：<%= link_to @store.user.name, user_path(@store.user) %></p>

      <% if user_signed_in? &&  current_user == @store.user %>
        <%= link_to '編集', edit_store_path(@store), class: "btn btn-outline-primary btn-sm" %>
        <%= link_to '削除する', store_path(@store), method: :delete, class: "btn btn-outline-danger btn-sm", data:{confirm: '本当に削除しますか？'} %>
      <% end %>

      <!--Google mapの表示-->
      <div id="map" 
        style="width:100%; height:300px;" 
        class="mb-3 border" 
        data-lat="<%= @store.latitude %>"
        data-lng="<%= @store.longitude %>"
        data-name="<%= j @store.name %>"
        data-address="<%= j @store.address %>">
      </div>
      <%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>



      <h4 class="mb-4">コメント一覧</h4>
      <% @store.comments.each do |comment| %>
        <div class="border p-2 mb-2">
          <p><%= comment.user.name %></p>
          <p><%= comment.content %></p>

          <% if comment.user == current_user %>
            <%= link_to '削除', store_comment_path(@store,comment), method: :delete, class: "btn btn-sm btn-outline-danger", data:{confirm: "本当に削除しますか？"} %>
          <% end %>
        </div>
      <% end %>

      <hr>

      <h4>コメントを投稿する</h4>
      <%= form_with model: [@store, @comment], local: true do |f| %>
        <%= f.text_area :content, placeholder: "コメント内容", class: "form-control mb-2" %>
        <%= f.submit "投稿する", class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>


  <script>
  $('#score').raty({
    starHalf: '<%= asset_path("star-half.png") %>',
    starOff: '<%= asset_path("star-off.png") %>',
    starOn: '<%= asset_path("star-on.png") %>',
    score: '<%= @store.score %>',
    readOnly: true
  })
</script>
