<h2>public側の投稿詳細ページ</h2>
<% if @store.images.attached? %>
  <div class="row">
    <div class="col-md-12">
      <% @store.images.each do |image| %>
        <%= image_tag image.variant(resize_to_limit: [600, 400]), class: "img-fluid rounded" %>
      <% end %>
    </div>
  </div>
<% end %>

  <div class="row">
    <div class="col-md-12">
      <h4>店舗名：<%= @store.name %></h4>
      <p>カテゴリ：<%= @store.category.name %></p>

      <% @store.tags.each do |tag| %>
        <p>タグ：<%= tag.name %></p>
      <% end %>

      <p>評価：<%= @store.score %></p>
      <p>レビュー：<%= @store.description %></p>
      <p>郵便番号：<%= @store.zip_code %></p>
      <p>住所：<%= @store.address %></p>
      <p>投稿者：<%= link_to @store.user.name, user_path(@store.user) %></p>

      <% if user_signed_in? &&  current_user == @store.user %>
        <%= link_to '編集', edit_store_path(@store), class: "btn btn-outline-primary btn-sm" %>
        <%= link_to '削除する', store_path(@store), method: :delete, class: "btn btn-outline-danger btn-sm", data:{confirm: '本当に削除しますか？'} %>
      <% end %>


      <h4>コメント一覧</h4>
      <% @store.comments.each do |comment| %>
        <div class="border p-2 mb-2">
          <p><%= comment.user.name %></p>
          <p><%= comment.content %></p>

          <% if comment.user == current_user %>
            <%= link_to '削除', store_comment_path(@store,comment), method: :delete, class: "btn btn-sm btn-outline-danger", data:{confirm: "本当に削除しますか？"} %>
          <% end %>
        </div>
      <% end %>

      <h4>コメントを投稿する</h4>
      <%= form_with model: [@store, @comment], local: true do |f| %>
        <%= f.label :content, "コメント内容" %>
        <%= f.text_area :content %>
        <%= f.submit "投稿する", class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>