<h2>admin側のカテゴリページ</h2>

<ul>
  <% @categories.each do |category| %>
    <li>
      <%= category.name %>
      <%= link_to '削除', admin_category_path(category), method: :delete, class: "btn btn-sm btn-danger", data: {confirm: '本当に削除しますか？'} %>
    </li>
  <% end %>
</ul>

<h3>新しいカテゴリーを追加</h3>
<%= form_with model: [:admin, @category], local: true do |f| %>

  <%= render 'admin/shared/error_messages', resource: @category %>

  <%= f.label :name, 'カテゴリー名' %>
  <%= f.text_field :name %>
  <%= f.submit '追加' %>
<% end %>