<h3>プロフィール編集</h3>

<%= form_with model: current_user, method: :patch, local: true do |f| %>
  
  <div>
    <%= f.label :name, "名前" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email, "メールアドレス" %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.submit "更新する", class: "btn btn-sm btn-success" %>
  </div>
<% end %>