<h3 class="mb-4">プロフィール編集</h3>

<!--エラーメッセージを表示するパーシャルの呼び出し-->
<%= render 'public/shared/error_messages', resource: current_user %>


<%= form_with model: current_user, method: :patch, local: true do |f| %>
  
  <div class="row mb-4 align-items-center">
    <%= f.label :name, "名前", class: "col-md-2 col-form-label" %>
    <div class="col-md-6">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-4 align-items-center">
    <%= f.label :email, "メールアドレス", class: "col-md-2 col-form-label" %>
    <div class="col-md-6">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-7">
      <%= f.submit "更新する", class: "btn btn-sm btn-success" %>
    </div>
  </div>
<% end %>