#管理者側のヘッダー
<header>
  <nav class="navbar" style="height: 100px; display: flex; justify-content: space-between; align-items-center;">
    <div class="header-left">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', alt: 'with baby logo', class:'header-logo' %>
      <% end %>
    </div>


    <ul class="header-right" style="display: flex; flex-direction: row">
      <% if admin_signed_in? %>
        <li class="nav-item">ユーザー</li>
        <li class="nav-item">店舗</li>
        <li class="nav-item">コメント</li>
        <li class="nav-item"><%= link_to 'カテゴリ', admin_categories_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to 'タグ', admin_tags_path, class:"nav-link" %></li>
        <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %></li>
      <% else %>
        <li class="nav-item">ログイン</li>
      <% end %>
    </ul>
  </nav>
</header>