<!--  会員側のヘッダー -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to root_path, class:"navbar-brand" do %>
    <%= image_tag 'logo.png', alt:'with baby logo', class:'header-logo' %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to "店舗一覧", stores_path, class: "nav-link text-center" %></li>
        <li class="nav-item"><%= link_to "新規店舗登録", new_store_path, class: "nav-link text-center", data: {turbolinks: "false"}  %></li>
        <li class="nav-item"><%= link_to "マイページ", mypage_path, class: "nav-link text-center" %></li>
        <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-center" %></li>
      <% else %>
        <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: "nav-link text-center" %></li>
        <li class="nav-item"><%= link_to "会員登録", new_user_registration_path, class: "nav-link text-center" %></li>
      <% end %>
    </ul>
  </div>
</nav>