<!DOCTYPE html>
<html>
  <head>
    <title>WithBaby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# 管理者と会員でヘッダーを切り替えるため %>
    <% if controller_path.starts_with?("admin/") %>
      <%= render 'layouts/admin_header' %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>

    <%= yield %>
  </body>
</html>
