<!--public側のレイアウトファイル-->
<!DOCTYPE html>
<html>
  <head>
    <title>WithBaby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <header class="container">
      <%= render 'layouts/header' %>
    </header>

    
    <main class="container">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </main>
  </body>
</html>
