<!--public側のレイアウトファイル-->
<!DOCTYPE html>
<html>
  <head>
    <title>WithBaby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="container">
      <%= render 'layouts/header' %>
    </header>

    <hr>

    <main class="container">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </main>

    <hr class="my-4">

    <footer class="text-center py-3">
      <p>© 2025 With Baby All Rights Reserved.</p>
    </footer>
  
  <!--住所の自動入力に必要-->
  <script src="https://cdn.jsdelivr.net/npm/jquery-jpostal-ja@2.14.45/jquery.jpostal.min.js"></script>
  </body>
</html>
